Repository nicorithner/ckc_website, pull requests merged in 2021-02, with the labels that each got.

#4 Contact form
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/contact_form_controller.rb
  app/controllers/contact_form_controller.rb
  app/poros/contact_form.rb
  config/routes.rb
  spec/features/controllers/contact_form_controller_spec.rb
  spec/features/pages/index_spec.rb
  spec/poros/contact_form_poro_spec.rb
Labels: Sendgrid, enhancement

#6 Nd contact form submit
  .gitignore
  app/controllers/api/v1/contact_form_controller.rb
  app/javascript/components/Form/Form.js
  app/javascript/components/Recaptcha/Recaptcha.js
  app/javascript/utils/apiCalls.js
  package.json
Labels: React, Recaptcha, enhancement

#7 ND-About-cmp
  app/javascript/components/About/About.js
  app/javascript/components/About/About.scss
  app/javascript/components/App.js
Labels: CSS, React, Styling, enhancement
